@model IEnumerable<MoviesLibrary.Web.Models.Movie>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synopsis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfProductions)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Synopsis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfProductions)
        </td>
    </tr>
}

</table>
